<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd  
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <!-- 自动扫描 -->
    <context:component-scan base-package="com.library" />


    <!-- 引入配置文件 -->
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:jdbc.properties" />
    </bean>

    <!-- 主数据源配置 -->
    <bean id ="masterDataSource" class= "org.apache.commons.dbcp.BasicDataSource" >
        <property name ="driverClassName" value= "${master_driver}"></property >
        <property name ="url" value="${master_url}" ></property >
        <property name="username" value="${master_username}" />
        <property name="password" value="${master_password}" />
        <property name="initialSize" value="${initialSize}"></property>
        <property name="maxActive" value="${maxActive}"></property>
        <property name="maxIdle" value="${maxIdle}"></property>
        <property name="minIdle" value="${minIdle}"></property>
        <property name="maxWait" value="${maxWait}"></property>
    </bean >
    <bean id="slaveDataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${slave_driver}" />
        <property name="url" value="${slave_url}" />
        <property name="username" value="${slave_username}" />
        <property name="password" value="${slave_password}" />
        <property name="initialSize" value="${initialSize}"></property>
        <property name="maxActive" value="${maxActive}"></property>
        <property name="maxIdle" value="${maxIdle}"></property>
        <property name="minIdle" value="${minIdle}"></property>
        <property name="maxWait" value="${maxWait}"></property>
    </bean>

    <!-- 动态配置数据源 -->
    <bean id ="dataSource" class= "com.library.db.util.DynamicDataSource" >
        <property name ="targetDataSources">
            <map key-type ="java.lang.String">
                <entry value-ref ="masterDataSource" key="masterDataSource"></entry >
                <entry value-ref ="slaveDataSource" key="slaveDataSource"></entry >
            </map>
        </property >
        <property name ="defaultTargetDataSource" ref= "masterDataSource"></property >
    </bean >

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations" value="classpath:com/library/common/User/mapper/*.xml"></property>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.library.common.User.mapper" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!--<bean id="changeDBInterceptor" class="com.library.db.util.ChangDBInterceptor"></bean>-->

    <!--&lt;!&ndash; 配置AOP切面，所有service作为切点，执行changeDBInterceptor类中的changeDB方法 &ndash;&gt;-->
    <!--<aop:config proxy-target-class="true">-->
        <!--<aop:pointcut id="txPointcut" expression="execution(* com.library.common.TestUser.service..*Service*.*(..)) or execution(* com.library.common.TestUser.service..*Service*.*(..))" />-->
        <!--<aop:aspect ref="changeDBInterceptor" order="1">-->
            <!--<aop:around pointcut-ref="txPointcut" method="changeDB"/>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->

</beans>